body {
  padding: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

#canvas {
  line-height: 0;
}

#game-container {
  position: relative;
}

#game-container .tools {
  padding-bottom: 10px;
}

#game-tools .turn-counter {
  margin-left: 10px;
  font-size: 1.2em;
}

.cell {
  display: block;
  margin: 1px 1px 0 0;
  float: left;
}

.cell-alive {
  background: #000;
  color: transparent;
}

.cell-dead {
  background: #eee;
  color: transparent;
}
